@import 'variables';

nav {
    margin-top: 25px;

    a {
        color: $primary-color;
        text-decoration: none;
        margin: 0 12px;
        padding: 7px 0;
        font-size: 24px;
        display: block;
        text-align: center;
        width: 226px;
        font-weight: bold;

        &:hover {
            color: lighten($primary-color, 10);
        }
    }

    .active {
        background: $primary-color;
        color: $dark-gray;
        border-radius: 5px;

        &:hover {
            color: $dark-gray;
            background: lighten($primary-color, 7);
        }
    }
}